* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

p {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

section#content {
  margin-top: 20px;
}

.container-handle {
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
}

.main-content {
  padding-right: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-content__item-heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content__item-heading .heading-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-content__item-heading .heading-flex .heading-title {
  line-height: 1.2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.54);
  padding-bottom: 20px;
  margin-bottom: -1px;
}

.main-content__item-heading .heading-flex .heading-title a {
  font-weight: 600;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.84);
}

.main-content__item-heading .heading-flex .heading-more span {
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.54);
}

.aside {
  padding-left: 20px;
}

.aside__item {
  margin-bottom: 30px;
}

.aside__item-heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.aside__item-heading .heading-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.aside__item-heading .heading-flex .heading-title {
  line-height: 1.2;
  padding-bottom: 20px;
}

.aside__item-heading .heading-flex .heading-title a {
  font-weight: 600;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.84);
}

.logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo img {
  width: 100px;
  height: 50px;
}

.text-collapse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search {
  margin-bottom: 20px;
}

.search .input-search {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 30px;
  outline: none;
}

.page-title {
  margin: 25px 0;
}

.page-title h1 {
  text-transform: uppercase;
  font-size: 22px;
}

ul.breadcrumb-menu {
  margin-bottom: 0px;
}

ul.breadcrumb-menu li {
  display: inline-block;
}

ul.breadcrumb-menu li a {
  text-transform: uppercase;
  color: #333;
}

ul.breadcrumb-menu li a b {
  font-size: 16px !important;
}

ul.breadcrumb-menu li + li:before {
  padding: 8px;
  content: "\F101";
}

#footer {
  margin: 25px 0 10px 0;
}

#footer p {
  margin-bottom: 10px;
}

#footer p a {
  margin-right: 10px;
  color: #333;
  font-size: 15px;
}

.tag-list__item {
  display: inline-block;
  margin: 10px 3px;
}

.tag-list__item a {
  padding: 5px 10px;
  background: #666666;
  color: #fff;
  border-radius: 3px;
}

.tag-list__item a:hover {
  background: #fff;
  color: #333;
}

.post-detail__title {
  margin: 20px 0;
}

.post-detail__title h1 {
  font-size: 24px;
  font-weight: 700;
}

.post-detail__description {
  margin-bottom: 20px;
}

.post-detail__description h3 {
  font-size: 20px;
  font-weight: 600;
}

.post-detail__content p {
  font-size: 15px;
  margin: 0 0 10px 0;
}

.post-detail__info .post-info__like a {
  color: green;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.post-detail__info .post-info__like a i {
  font-size: 40px;
}

.post-detail__info .post-info__like span {
  margin: 20px 5px;
}

.post-detail__info .post-info__share ul {
  margin-top: 15px;
}

.post-detail__info .post-info__share ul li {
  display: inline-block;
}

.post-detail__info .post-info__share ul li span {
  color: #333;
}

.post-detail__info .post-info__share ul li span i {
  font-size: 25px;
}

.post-detail__info .post-info__share ul li:not(:last-child) {
  margin-right: 20px;
}

.article-aside {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 10px;
}

.article-aside__detail {
  text-align: left;
  margin-right: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.article-aside__detail .article-detail__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: hidden;
}

.article-aside__detail .article-detail__title h3 {
  font-size: 15px;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.84);
}

.article-aside__detail .article-detail__desc {
  overflow: hidden;
  max-height: 40px;
  text-overflow: ellipsis;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}

.article-aside__detail .article-detail__info .info-author a {
  color: rgba(0, 0, 0, 0.84);
}

.article-aside__detail .article-detail__info .info-time {
  color: rgba(0, 0, 0, 0.54);
}

.article-aside__avatar {
  width: 30%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.article-aside__avatar img {
  width: 100%;
  height: 100%;
}

.site-map__title h1 {
  font-size: 20px;
  text-transform: uppercase;
}

.site-map__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f2f2f2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 23px;
  margin: 5px;
}

.site-map__item .site-map__item__body ul {
  padding-left: 10px;
  list-style-type: decimal;
}

.site-map__item .site-map__item__body ul li a {
  color: #333;
}

.sub-menu {
  margin-bottom: 20px;
}

.sub-menu ul.sub-menu__list li {
  margin-right: 22px;
  display: inline-block;
  text-align: center;
}

.sub-menu ul.sub-menu__list li a {
  padding: 3px 0;
  text-transform: uppercase;
  color: #333;
  font-weight: 500;
  width: 100%;
}

.sub-menu ul.sub-menu__list li a:hover {
  text-decoration: none;
  border-bottom: 2px solid #ccc;
}

.sub-menu ul.sub-menu__list li a.active {
  border-bottom: 2px solid #ccc;
}

.article-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 680px;
  width: 100%;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 48px;
}

.article-content__detail {
  text-align: left;
  margin-right: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.article-content__detail .article-detail__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: hidden;
}

.article-content__detail .article-detail__title h3 {
  font-size: 20px;
  max-height: 84px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.84);
}

.article-content__detail .article-detail__desc {
  overflow: hidden;
  max-height: 40px;
  text-overflow: ellipsis;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}

.article-content__detail .article-detail__info {
  margin-top: 12px;
}

.article-content__detail .article-detail__info .info-author a {
  color: rgba(0, 0, 0, 0.84);
}

.article-content__detail .article-detail__info .info-time {
  color: rgba(0, 0, 0, 0.54);
}

.article-content__detail .article-detail__info .btn-bookmark {
  border: none;
  outline: none;
  background: #fff;
  cursor: pointer;
}

.article-content__detail .article-detail__info .btn-bookmark i {
  color: black;
  font-size: 20px;
}

.article-content__avatar {
  width: 20%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.article-content__avatar img {
  width: 100%;
  height: 100%;
}

ul.popular_tag {
  width: 100%;
  list-style: none;
  background: #fcfcfc;
}

ul.popular_tag li {
  padding: 5px 15px;
}

ul.popular_tag li a {
  color: #585858;
  font-size: 18px;
}

ul.popular_tag li a i {
  font-size: 18px;
  margin-right: 15px;
}

.box-video {
  background-color: #f2f2f2;
  margin: 20px 0;
}

.box-video__body {
  padding: 10px 10px 0px;
}

.box-video__body h5 {
  height: 25px;
}

.box-video__body h5 a {
  font-size: 17px;
}

.box-video__footer {
  padding: 10px;
}

.box-video__footer-img img {
  margin-right: 5px;
  border: 2px solid #fff;
  height: 45px;
  width: 45px;
  float: left;
  border-radius: 50%;
}

.box-video__footer-like a {
  margin: 8px 10px;
}

.box-video__footer-like span.no-name {
  margin: 0 8px;
  font-size: 20px;
}

.box-video__footer-like i {
  font-size: 20px;
}

.box-video a {
  color: #333;
}

.menu-header {
  width: 100%;
  margin-bottom: 20px;
}

.menu-header ul.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu-header ul.menu-header__list li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu-header ul.menu-header__list li a {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
  border-radius: 3px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.menu-header ul.menu-header__list li a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.84);
}

.menu-header ul.menu-header__list li a.active {
  color: rgba(0, 0, 0, 0.84);
}

