.article-content {
	flex: 1 1 auto;
    max-width: 680px;
    width: 100%;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 25px;
    &__detail {
    	text-align: left;
	    margin-right: 24px;
	    flex: 1 1 auto;
        color: #555;
        h3 {
            margin-bottom: 10px;
        }
	    .article-detail__title {
            font-weight: bold;
            font-size: 20px;
            color: #000000;
	    }
	    .article-detail__desc {
            font-size: 14px;
	    }
	    .article-detail__info {
    	    margin-top: 12px;
	    }
    }
    &__avatar {
    	width: 20%;
    	flex: 0 0 auto;
    	img {
    		width: 100%;
    		height: 100%;
    	}
    }
}