.article-header {
	flex: 1 1 auto;
    width: 100%;
    margin-bottom: 20px;
    &__detail {
    	text-align: left;
	    margin-left: 15px;
	    flex: 1 1 auto;
        h4 {
            flex: 0 0 auto;
            margin-bottom: 10px;
        }
        .article-detail__title {
            color: #555555;
            font-size: 16px;
            font-weight: bold;
	    }
        .article-detail__desc {
            flex: 0 0 auto;
            font-size: 14px;
            line-height: 1.2;
            color: #555555;
        }
	    .article-detail__info {
    	    margin-top: 5px;
	    	color: #555555;
        }
    }
    &__avatar {
    	flex: 0 0 auto;
    	img {
    		width: 110px;
    		height: 100%;
    	}
    }
}