.big-post-item {
	width: 100%;
	display: flex;
	margin-bottom: 20px;
	.big-post-item__content {
		width: 80%;
		float: left;
		.content-top {
			margin-bottom: 10px;
		}
		.content-bottom {
			position: relative;
			.bookmark {
				position: absolute;
				top: 0;
				right: 20px;
				a {
					color: #333;
					i {
						font-size: 16px;
					}
				}
			}
		}
	}
	.big-post-item__logo {
		width: 20%;
		float: left;
	}
}