.menu-header {
	width: 100%;
	margin-bottom: 20px;
	ul.menu-header__list {
		li {
			display: inline-block;
			a {
				color: rgba(0,0,0,.54);
				font-weight: 500;
				margin: 0 60px 0 0;
				height: 40px;
				display: flex;
				align-items: center;
				border-radius: 3px;
				transition: 0.2s all;
			}
			a:hover {
				text-decoration: none;
				color: rgba(0,0,0,.84);
			}
			a.active {
				color: rgba(0,0,0,.84);
			}
		}
	}
}
