.menu-header {
	width: 100%;
	margin-bottom: 20px;
	ul.menu-header__list {
		display: flex;
		list-style: none;
		li {
			flex: 1 1 auto;
			a {
				color: rgba(0,0,0,.54);
				font-weight: 500;
				border-radius: 3px;
				transition: 0.2s all;
			}
			a:hover {
				text-decoration: none;
				color: rgba(0,0,0,.84);
			}
			a.active {
				color: rgba(0,0,0,.84);
			}
		}
	}
}
