.post-detail {
	&__title {
		margin: 20px 0;
		h1 {
			font-size: 24px;
			font-weight: 700;
		}
	}
	&__description {
		margin-bottom: 20px;
		h3 {
			font-size: 20px;
			font-weight: 600;
		}
	}
	&__content {
		img {
			margin: 10px 0;
		}
		h4 {
			font-size: 16px;
			margin-bottom: 10px;
		}
		p {
			font-size: 15px;
			margin-bottom: 10px;
		}
	}
	&__info {
		margin: 10px 0;
		.post-info__like {
			a {
				color: green;
			    border: 1px solid #ccc;
			    border-radius: 50%;
			    width: 65px;
			    height: 65px;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    align-content: center;
			    i {
			    	font-size: 40px;
			    }
			}
			span {
				margin: 20px 5px;
			}
		}
		.post-info__share {
			ul {
				margin-top: 15px;
				li {
					display: inline-block;
					span {
						color : #666;
						i {
							font-size: 25px;
						}
					}
				}
				li:not(:last-child) {
					margin-right: 20px;
				}
			}
		}
	}
}