.sub-menu {
	padding-bottom: 20px;
	margin-left: -5px;
	ul.sub-menu__list{
		li {
			margin-right: 30px;
			display: inline-block;
			text-align: center;
			a {
				padding: 5px;
				text-transform: uppercase;
				color: #333333;
				font-weight: bold;
				width: 100%;
			}
			a:hover {
				border-bottom: 2px solid #B70002;
				color: #B70002;
			}
			a.active {
				border-bottom: 2px solid #B70002;
				color: #B70002;
			}
		}
	}
}