.top-lang-item {
	display: flex;
	margin-bottom: 20px;
	&__logo {
		width: 25%;
		img {
			width: 100%;
		}
	}
	&__title {
		width: 45%;
		padding-left: 15px;
		h5 {
			font-size: 16px;
			color: #000000;
			font-weight: bold;
			text-transform: uppercase;
		}
		span {
			font-size: 14px;
			color: #555555;
		}
	}
	&__info {
		width: 30%;
		color: #555555;
		font-size: 14px;
	}
}