.top-lang-item {
	display: flex;
	margin-bottom: 20px;
	color: #555555;
	&__logo {
		width: 25%;
		img {
			width: 100%;
		}
	}
	&__title {
		width: 45%;
		padding-left: 15px;
		h5 {
			margin-bottom: 10px;
			a {
				font-size: 16px;
				color: #000000;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
		span {
			font-size: 14px;
		}
	}
	&__info {
		width: 30%;
		font-size: 14px;
		p {
			margin-top: 10px;
		}
	}
}